body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f3;
}

.main {
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 25px;
    background-color: #ffffff;
    width: auto;
}

.calculator {
    border: none;
    border-radius: 20px;
    display: inline-block;
    background-color: #a6a6a8;
    padding: 10px;
}

#display {
    width: calc(100% - 20px);
    height: 80px;
    text-align: right;
    margin-bottom: 20px;
    font-size: 32px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f0f3;
    border-radius: 20px;
    color: #000;
}

.buttons button {
    width: 75px;
    height: 75px;
    margin: 10px;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
    background-color: #333333; /* Dark buttons for numbers */
}

.buttons button.operator {
    background-color: #ff9500; /* Orange buttons for operators */
}

.buttons button.special {
    background-color: #d4d4d2; /* Light buttons for special functions */
    color: #000;
}

.buttons button:hover, .buttons button:focus {
    transform: scale(1.1);
}

.buttons button:active {
    transform: scale(0.95);
}

.buttons button.special {
    color: #000;
}
